html {
  background-color: $base-background-color;
}

.container {
  @include outer-container;
  margin-left: $spacing-lg;
  margin-right: $spacing-lg;

  &__row {
    @include fill-parent;
    margin-bottom: $spacing-lg;
  }

  &__side {
    @include span-columns($container-size-side);
  }

  &__main {
    @include span-columns($container-size-main);
    @include omega();

    .subcontainer__half {
      @include span-columns($container-size-main / 2);
    }
  }

  &__full {
    @include span-columns($container-size-full);
    @include omega();

    .subcontainer__half {
      @include span-columns($container-size-full / 2);
    }
  }
}
