.footer {
  min-height: $footer-height;
  margin-left: $spacing-lg;
  margin-right: $spacing-lg;
}

.footer-pusher {
  @include calc(min-height, "100vh - (#{$footer-height} + #{$navbar-height} + #{$spacing-lg})");
}
