.gallery {

  &__image {
    display: block;
    float: left;
    height: $gallery-image-height;
    margin-right: $gallery-image-spacing;
    margin-bottom: $gallery-image-spacing;

    &--large {
      height: $gallery-image-big-height;
    }
  }
}
