.links {
  text-align: center;
  background-color: $dark-background-color;

  padding-top: $spacing-xl;
  padding-bottom:$spacing-xl;

  .links__link {
    display: inline-block;
    margin-bottom: $spacing-lg;

    &:not(:last-child) {
      margin-right: $spacing-lg;
    }

    img {
      height: 150px;
      @include transition(opacity $base-duration $base-timing);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  /*a {
    margin-right: $spacing-lg;
    TODO : à remettre si on arrive à faire marcher un margin vertical
  }*/
}
