.links {
  text-align: center;
  background-color: $dark-background-color;

  padding-top: $spacing-xl;
  padding-bottom:$spacing-xl;

  .links__link {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $spacing-lg;
    }

    img {
      height: 150px;
    }
  }

  /*a {
    margin-right: $spacing-lg;
    TODO : à remettre si on arrive à faire marcher un margin vertical
  }*/
}
