.links {
  text-align: center;
  background-color: $dark-background-color;

  padding-top: $spacing-xl;
  padding-bottom:$spacing-xl;

  .links__link {
    display: inline-block;
    margin-bottom: $spacing-lg;

    &:not(:last-child) {
      margin-right: $spacing-lg;
    }

    img {
      height: 150px;
    }
  }
}
