.navbar {
  background-color: $navbar-background-color;
  box-shadow: 0px 2px 4px $navbar-shadow-color;
  padding: 0px;

  .navbar-brand {
    padding: 0px;
    padding-left: $spacing-lg;
    img {
      padding: $spacing-sm;
      height: calc(#{$navbar-height} - (2 * #{$spacing-sm}));
    }
  }

  .navbar-toggler {
    font-size: 1em;
    margin-top: 2px;
  }

  .nav-item {
    text-align: center;
    padding-left: $spacing-xl;
    padding-right: $spacing-xl;

    a.nav-link {
      font-weight: bold;
      color: $navbar-link-color;
      text-decoration: none;
      transition: background-color $base-duration $base-timing;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: $navbar-thumb-color-selected;
      a.nav-link {
        color: shade($navbar-link-active-color, 10%);
      }
    }
  }
}
