.navbar {
  background-color: #d3d3d3;
  box-shadow: 0px 2px 4px #000;
  height: 40px;

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    overflow: hidden;
    color: #313131;
  }

  &__link {
    height: 100%;
  }

  &__logo {
    padding-top: 4px;
    padding-bottom: 4px;
    img {
      height: 32px;
    }
  }
}
