.side-image {
  @include outer-container;

  &--xl {
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;

    img {
      margin-top: $spacing-xl;
    }
  }

  &__image {
    @include span-columns(2);
  }

  &__content {
    @include span-columns(10);
    vertical-align: middle;
  }
}
