.side {
  @include content-height;
  background-color: $dark-background-color;
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;
  position: fixed;
  width: $side-width;
}

.container--side {
  @include outer-container($max-width - $side-width);
  margin-left: calc(#{$side-width} + #{$spacing-lg})
}
