.side {
  @include content-height;
  background-color: $dark-background-color;
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;
  position: absolute;
  left: 0;
  width: 240px;
}

.container--side {
  @include outer-container($max-width - $side-width);
  @include calc(margin-left, "#{$side-width} + #{$spacing-lg}")
}
