.side-image {
  @include outer-container;
  margin-top: 50px;
  margin-bottom: 50px;

  &__image {
    @include span-columns(2);
    margin-top: 40px;
  }

  &__content {
    @include span-columns(10);
    vertical-align: middle;
  }
}
