.tabs {
  margin-bottom: $spacing-md;

  &__tab {
    list-style: none;
    display: inline;
  }

  &__link {
    background-color: $tab-inactive-color;
    display: block;
    font-weight: bold;
    padding: ($base-spacing / 2) ($gutter / 2);
    text-decoration: none;
    border-radius: 0;
    @include border-top-radius($base-border-radius);
    display: inline-block;
    width: 26px;

    &:hover,
    &:focus,
    &--active {
      color: $tab-link-color;
      background-color: $tab-active-background;
      margin-bottom: -1px;
    }
  }

  &__content {
    color: $tab-link-color;
    background: $tab-content-background;
    display: none;
    padding: $spacing-md;
    padding-bottom: 0;
    width: 100%;
    @include border-bottom-radius($base-border-radius);
    border-top-right-radius: $base-border-radius;
    float: left;
  }
}
