.tabs {
  margin-bottom: $spacing-md;

  &__tab {
    list-style: none;
    display: inline;
  }

  &__link {
    background-color: $tabs-background-color;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0;
    @include border-top-radius($tabs-border-radius);
    padding: ($base-spacing / 2) ($gutter / 2);
    width: $spacing-xl;

    &:hover,
    &:focus,
    &--active {
      background-color: $tabs-background-color;
      border: 1px solid $tabs-border-color;
      border-bottom-color: $tabs-background-color;
      margin-bottom: -1px;
    }
  }

  &__content {
    display: none;
    float: left;
    padding: $spacing-md;
    padding-bottom: 0;
    width: 100%;
    min-height: 200px;
    border-top: 1px solid $tabs-border-color;
    @include border-bottom-radius($tabs-border-radius);
    border-top-right-radius: $tabs-border-radius;
  }
}
