html {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: $color-link;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: darken($color-link, 10%);
  }
}
