html {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $link-color-hover;
  }
}
