// COLORS

$color-background: #323232;
$color-default: #fff;
$color-link: #ec5d5d;

$navbar-color-background: #d3d3d3;
$navbar-color-shadow: #000;
$navbar-color-link: #313131;
$navbar-color-separator: #000;
