// Z-INDEX

$z-index-scale: navbar;

// COLORS

$color-background: #323232;
$color-main: #ec2027;

// SPACINGS

$spacing-small: 5px;
$spacing-normal: 10px;
$spacing-big: 20px;

// CONTAINTER

$container-background-color: $color-background;

// TYPOGRAPHY

$text-color: #dededc;
$text-color-selected: #fff;
$link-color: $color-main;
$link-color-hover: darken($color-main, 10%);

// NAVBAR

$navbar-background-color: #d3d3d3;
$navbar-thumb-color-selected: $color-background;
$navbar-shadow-color: #000;
$navbar-link-color: #313131;
$navbar-link-hover-color: $text-color;
$navbar-link-active-color: $text-color-selected;
$navbar-separator-color: #fff;
$navbar-separator-width: 2px;
$navbar-height: 40px;

// FOOTER

$footer-height: 20px;
